<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466245152970-9q6c3jbsfo8d193b8krodrduaeeump6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466245152970-9q6c3jbsfo8d193b8krodrduaeeump6f</string>
	<key>API_KEY</key>
	<string>AIzaSyDvF_vZ0EuPlY8tAOJWp1v2iMWX-vOI_gA</string>
	<key>GCM_SENDER_ID</key>
	<string>466245152970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rayekV001</string>
	<key>PROJECT_ID</key>
	<string>rayek-001</string>
	<key>STORAGE_BUCKET</key>
	<string>rayek-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466245152970:ios:13241001aed3c970fb0433</string>
</dict>
</plist>